methods/n8n-webhook/workflow.json
{
  "name": "OCALT — Claude Code Telegram Relay",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "id": "telegram-trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [250, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "user-id-check",
              "leftValue": "={{ $json.message.from.id }}",
              "rightValue": "REPLACE_WITH_YOUR_USER_ID",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "if-user-check",
      "name": "Check User ID",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "command": "=claude -p \"{{ $json.message.text.replace(/\"/g, '\\\\\"') }}\""
      },
      "id": "execute-claude",
      "name": "Run Claude",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [690, 300]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.stdout.substring(0, 4096) }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-send",
      "name": "Send Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [910, 300],
      "credentials": {
        "telegramApi": {
          "id": "REPLACE_WITH_CREDENTIAL_ID",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {},
      "id": "noop-unauthorized",
      "name": "Ignore",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [690, 480]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [{ "node": "Check User ID", "type": "main", "index": 0 }]
      ]
    },
    "Check User ID": {
      "main": [
        [{ "node": "Run Claude", "type": "main", "index": 0 }],
        [{ "node": "Ignore", "type": "main", "index": 0 }]
      ]
    },
    "Run Claude": {
      "main": [
        [{ "node": "Send Reply", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "ocalt" },
    { "name": "claude-code" },
    { "name": "telegram" }
  ]
}
